@import "tailwindcss";

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.inter-regular {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter-semibold {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.space-mono-regular {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.space-mono-semibold {
  font-family: "Space Mono", monospace;
  font-weight: 600;
  font-style: normal;
}

.space-mono-bold {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
}

.space-mono-regular-italic {
  font-family: "Space Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.space-mono-bold-italic {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: italic;
}

.knewave-regular {
  font-family: "Knewave", system-ui;
  font-weight: 400;
  font-style: normal;
}

.hero {
  background-image:
  /* layer 1: grain on top */
        url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.05'/%3E%3C/svg%3E"),
        /* layer 2: radial glow — top left */
        radial-gradient(40% 50% at 85% 35%, rgba(180, 255, 0, 0.12) 0%, transparent 100%),
        /* layer 3: dot pattern */
        radial-gradient(circle, #2a2a2a 1px, transparent 1px);
      background-size:
        200px 200px,
        auto,
        22px 22px;

}

.intro {
   background-image:
       repeating-conic-gradient(rgba(92,92,92,0.1) 0% 25%, transparent 100% 0%),
        radial-gradient(40% 50% at 45% 35%, rgba(180, 255, 0, 0.12) 0%, transparent 100%);
      background-size:
        28px 28px,
        auto,
        22px 22px;
}

.intro-divider {
   background-image:
       repeating-conic-gradient(rgba(92,92,92,0.1) 0% 25%, transparent 100% 50%);
      background-size:
        28px 28px,
        auto,
        22px 22px;
}

.menu {
   background-image:
  /* layer 1: grain on top */
        url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.05'/%3E%3C/svg%3E"),
        /* layer 2: radial glow — top left */
        radial-gradient(40% 50% at 85% 50%, rgba(180, 255, 0, 0.12) 0%, transparent 100%);
      background-size:
        200px 200px,
        auto,
        22px 22px;
}
.menu-divider {
   background-image:
  /* layer 1: grain on top */
        url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.05'/%3E%3C/svg%3E");
      background-size:
        200px 200px,
        auto,
        22px 22px;
}

.quotes {
   background-image:
  /* layer 1: grain on top */
        url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.05'/%3E%3C/svg%3E"),
        radial-gradient( 50% 50% at 50% 50%, rgba(180, 255, 0, 0.12) 50%, transparent 100%)
       ;
      background-size:
        200px 200px,
        auto,
        22px 22px;
}

.footer-divider {
   background-image:
  /* layer 1: grain on top */
        url("data:image/svg+xml,%3Csvg viewBox='0 0 256 256' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noise'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='1' numOctaves='4' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noise)' opacity='0.05'/%3E%3C/svg%3E");
      background-size:
        200px 200px,
        auto,
        22px 22px;
}